.DS_Store
.idea/*
*.swp
**/*.swp
*.gem
.bundle

gemfiles/*.lock
Gemfile.lock

.rvmrc
.rbenv-version
.ruby-version
.ruby-gemset
/tmp
app/
bin/
config.ru
config/
db/
lib/assets/
lib/tasks/
log/
public/
storage/
vendor/
